section {
    margin: 50px;
    padding: 30px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #982D2D;
}

@media only screen and (max-width: 400px){
    section {
        margin: 15px;
        padding: 15px;
    }
}