.item-portfolio{
    display:inline-block;
    margin: 50px;
    background-color: #982D2D;
    box-shadow: 2px 3px 2px #982D2D;
}

.item-portfolio a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.item-portfolio img{
    width: 340px;
    height: 320px;
}